<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478907803907-8m3lmqofojk5rn2m6enjc4nlrmo9mnqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478907803907-8m3lmqofojk5rn2m6enjc4nlrmo9mnqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBz8rZ46fTtM5bQ_tSEzzjLGzehIuV2n48</string>
	<key>GCM_SENDER_ID</key>
	<string>478907803907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabetoledocode.GymBros</string>
	<key>PROJECT_ID</key>
	<string>gymbrosauth</string>
	<key>STORAGE_BUCKET</key>
	<string>gymbrosauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478907803907:ios:abf409f347093509f7a136</string>
</dict>
</plist>